@import url('./reset.css');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.form {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 371px;
  margin: 36px auto 32px;
}

input,
button {
  font-family: inherit;
}

input {
  font-weight: 400;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 38px;
  padding-left: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input::placeholder {
  color: #808080;
}

input:hover {
  border-color: #000000;
  outline: none;
}

input:focus {
  border-color: #4e75ff;
  outline: none;
}

button {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.gallery-item {
  border: 1px solid #808080;
  width: 360px;
}

.gallery-image {
  width: 360px;
  height: 152px;
  object-fit: cover;
}

.gallery-atributes {
  display: flex;
  justify-content: space-around;
}

.gallery-atributes li {
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

.gallery-values {
  display: block;
  font-weight: 400;
  line-height: 2;
  color: #2e2f42;
}

.iziToast {
  margin-top: 36px !important;
  margin-right: 36px !important;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid red;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  display: block;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 44px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load-more {
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 44px;
}

.hidden {
  display: none;
}
